<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head"></head>
<body>
<header th:replace="fragments/common::header"></header>


    <form th:action="@{/users/login}" method="post" class="form">
        <div class="container">
        <h1>Login</h1>
        <div class="imgcontainer">
            <img src="/images/img.png"  class="avatar">
        </div>
        <hr>
        <p th:if="${loginError}" class="error">Wrong username or password</p>
        <label><b>Username</b></label>
        <input th:value="${username}" type="text" placeholder="Enter Username" name="username" />

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password" />
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <button class="create-btn" type="submit">Login</button>

        <span class="psw">Forgot <a href="/users/forget-password">password?</a></span>
        </div>

    </form>


</form>
</body>
</html>